# ASP.NET-specific files
bin/
obj/
.vs/
*.user
*.log
Properties/launchSettings.json

# general ignores
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE

# editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
